.accordion-item {
  border-radius: 8px !important;
}

#privacy-policy {
  overflow-y: auto;
  max-height: 500px;
}

#demo-video {
  position: relative;
  /* width: 100%; */
  /* height: auto; */
}

.accordion-button {
  background-color: white !important;
}
