#privacy-policy {
  overflow-y: auto;
  max-height: 500px;
}

#demo-video {
  position: relative;
  /* width: 100%; */
  /* height: auto; */
}

#tour-title {
  text-transform: none;
  text-align: center;
}

.accordion-item {
  border-radius: 8px !important;
}

.accordion-button {
  background-color: white !important;
}
