#privacy-policy {
  overflow-y: auto;
  max-height: 500px;
}

#demo-video {
  position: relative;
  width: 100%; /* Set the width of the container */
  height: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
}

#tour-title {
  text-transform: none;
  text-align: center;
}

.accordion-item {
  border-radius: 8px !important;
}

.accordion-button {
  background-color: white !important;
}
