#nav-item-about {
  position: relative;
  right: 70px;
}
nav {
  border-radius: 8px !important;
}

.nav-link {
  text-transform: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #646cff !important;
}

.nav-brand {
  font-size: 1.5rem;
  text-transform: none;
  cursor: pointer;
}
.nav-brand:hover {
  color: #646cff !important;
}

.nav-brand-move-right {
  position: relative;
  right: 177px;
}
