.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px;
  width: 600px !important;
}

.reset-password-form-items {
  margin: 8px 0px;
}
.reset-password-submit {
  margin: 8px 0px 0px 0px;
}

.input-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-password {
  margin-right: 5px;
}
.password-button {
  width: 40%;
  margin-left: 10px;
}
