#save-alarm {
  border: 1px solid gray;
}
#save-alarm:hover {
  border: 1.5px solid #646cff !important;
}
.dropdown-menu {
  border-radius: 8px !important;
}
#alarm-dropdown {
  text-align: center;
}

#time-picker {
  margin: auto;
  width: 200px;
}
