#posts-list {
  min-height: 500px;
  list-style-type: none;
}

#all-posts-search {
  width: 235px;
}

#all-posts-search-reset {
  cursor: pointer;
}

#select-all-posts-input {
  position: relative;
  left: 6px;
}

#select-all-posts-label {
  font-size: small;
}

#has-only-tabs-or-tags {
  color: rgb(177, 177, 177);
}

#popover-content-all-posts-search {
  padding: 5px;
  border-radius: 8px;
  color: black;
  font-weight: 400;
}

#info-button-all-posts-search {
  background-color: rgb(240, 240, 240);
}

.posts-list-anchor-tags {
  word-wrap: break-word;
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Use the default text color */
}

.posts-list-anchor-tags :hover {
  text-decoration: underline; /* Underline on hover */
}

.posts-list-li {
  border: 1px solid lightgray;
  padding: 5px 5px; /* Padding around the content */
}

.hidden {
  opacity: 0.2;
}
