#header-how-to-auth-modal-header {
  text-transform: none;
}

#span-how-to-auth-modal-header {
  cursor: pointer;
  position: relative;
  left: 150px;
}

#bold-how-to-auth-modal-header {
  text-decoration: underline;
}

#bold-how-to-auth-modal-header:hover {
  color: #007bff;
}

.auth-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-modal {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 500px;
  min-height: 805px;
}
