.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px;
}

.forgot-password-form-items {
  margin: 8px 0px;
}
.forgot-password-submit {
  margin: 8px 0px 0px 0px;
}

.forgot-password:hover {
  /* Change underline color and style on hover */
  color: #007bff;
}
