.unclickable-exception-elements,
.unclickable-exception-elements * {
  pointer-events: auto;
}
.main-container:not(.clickable) {
  pointer-events: none;
  /* Additional styles for non-clickable state */
}
#calendar-column {
  position: relative;
  left: 18px;
}
#three-dots {
  position: relative;
  right: 7px;
}
#custom-date-picker-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#tabs-home {
  transform: rotate(-90deg);
  border: 0.5px solid gray;
  position: relative;
  top: 25px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

#tabs-home:hover {
  border: 1.5px solid #646cff !important;
}

#delete-post-button {
  position: relative;
  left: 300px;
}

#calendar-arrow {
  position: relative;
  top: 2px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}
#reset-calendar {
  position: relative;
  top: 2px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}
