.accordion-item {
  border-radius: 8px !important;
}

#privacy-policy {
  overflow-y: auto;
  max-height: 500px;
}

#demo-video {
  position: relative;
  right: 17px;
}

.accordion-button {
  background-color: white !important;
}

.stronger-bold {
  font-weight: 800;
}
