nav {
  border-radius: 8px !important;
}
.nav-item {
  list-style-type: none;
}
.nav-link:hover {
  text-decoration: none;
}

.nav-brand {
  font-size: 1.5rem;
  text-transform: none;
}

#brand-link:hover {
  color: black !important;
  cursor: pointer;
}
