#search-bar-form {
  width: 25%;
  position: relative;
  right: 75px;
  text-align: left;
}

/* #search-bar-form {
  width: 25%;
  position: relative;
  right: 135px;
  text-align: left;
} */

#search-input {
  width: 100%;
}

#search-results-container {
  position: absolute;
  z-index: 1;
  top: 100%;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}

.search-results {
  width: 100%;
  text-align: left;
}
