#summary-text-container {
  width: 500px;
}
#toolbar {
  border-radius: 5px 5px 0px 0px;
}
.ql-container {
  border-radius: 0px 0px 5px 5px;
}
.ql-editor {
  min-height: 300px;
}
.ql-editor strong {
  font-weight: bold;
}
#show-tags {
  position: relative;
  bottom: 3px;
}
