#summary-voice {
  position: relative;
}
/* #summary-voice-header {
  position: relative;
} */
#summary-voice-media-buttons {
  position: relative;
  right: 15px;
}
.send {
  background-color: rgb(83, 173, 106);
}
#record-red-dot {
  width: 10px; /* Adjust the size as needed */
  height: 10px; /* Adjust the size as needed */
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  background-color: rgb(240, 85, 111);
  display: inline-block; /* Ensure it takes up space */
  margin-right: 10px;
}

.recording-duration {
  font-size: 20px;
}
#recording-duration-green {
  color: rgb(26, 211, 26);
}

#recording-duration-too-long {
  color: rgb(192, 0, 0);
}
.is-recording {
  background-color: rgb(192, 0, 0);
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Initial size */
  }
  50% {
    transform: scale(1.4); /* Larger size */
  }
  100% {
    transform: scale(1); /* Back to the original size */
  }
}

/* Apply the animation to the text */
.pulsating-red-dot {
  animation: pulse 1.1s infinite; /* Use the pulse animation for 2 seconds infinitely */
}
