#summary-text-container {
  width: 520px;
}

#toolbar {
  border-radius: 5px 5px 0px 0px;
}

.ql-container {
  border-radius: 0px 0px 5px 5px;
}

.ql-editor {
  height: 350px;
  overflow-y: auto;
}

.ql-editor strong {
  font-weight: bold;
}

#show-tags {
  position: relative;
  bottom: 3px;
}

#last-updated {
  text-align: center;
  width: 150px;
  font-size: 13px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
