#drop-down-menu-button1::after {
  position: absolute;
  right: 60px;
  top: 50px;
}

#pull-current-tabs {
  width: 100%;
}

#select-all-tabs-column {
  position: relative;
  right: 4px;
}

#select-all-tabs-label {
  position: relative;
  bottom: 1px;
}

#render-tabs-container {
  max-height: 400px;
  overflow-y: auto;
}

#popover-content-tabs-modal {
  padding: 20px;
  border-radius: 8px;
  color: black;
  font-weight: 400;
}

#info-button-tabs-modal {
  background-color: rgb(240, 240, 240);
  position: relative;
  bottom: 10px;
}
