#user-info-dropdown-button {
  text-align: center;
}

#user-info-dropdown-menu {
  width: 400px;
}

.dropdown-menu {
  border-radius: 8px !important;
}

.dropdown-toggle-settings-modal-buttons {
  width: 100%;
}
