#privacy-policy {
  overflow-y: auto;
  max-height: 500px;
}

#demo-video {
  position: relative;
  width: 520px;
  height: 293px;
}

#tour-title {
  text-transform: none;
  text-align: center;
}

#accordion-body-tour-video {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

#bold-checklist-notifications-on {
  font-weight: 700;
  /* position: relative;
  left: 16px; */
}

#checklist-settings-icon {
  position: relative;
  left: 5px;
  bottom: 3px;
}

#checklist-notifications-icon {
  position: relative;
  left: 7px;
  bottom: 1px;
}

#checklist-chrome-icon {
  position: relative;
  left: -1px;
  bottom: 2px;
}

.checklist-warning {
  color: orangered;
}

.checklist-success {
  color: green;
}
.checklist-checkbox-0 {
  position: relative;
  left: 3px;
  top: 0px;
}

.checklist-checkbox-1 {
  position: relative;
  left: 4px;
  bottom: 1px;
}

.shrink-text-accordion-body {
  font-size: 12px;
}

.accordion-item {
  border-radius: 8px !important;
}

.accordion-button {
  background-color: white !important;
}

.stronger-bold {
  font-weight: 700;
}
