#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
#app {
  zoom: 85%;
}
#three-dots-container {
  height: 80%;
}

#refresh-page {
  cursor: pointer;
  position: relative;
  font-size: 15px;
  font-weight: bold;
}

#logout {
  font-size: 15px;
  cursor: pointer;
  position: relative;
  right: 15px;
  font-weight: bold;
}

#logout:hover {
  color: #646cff;
  text-decoration: underline;
}

#refresh-page:hover {
  color: #646cff;
  text-decoration: underline;
}
